.visualization-wrap {
  position: relative;
  padding-bottom: 20px;

  .hover-highlight {
    &:hover {
      border: 1px dotted #007ed3;
      background-color: rgba(150, 198, 239, .3)
    }
  }

  .vis-element-drag-item {
    &:hover {
      .hover-highlight {
        border: 1px dotted #007ed3;
        background-color: rgba(150, 198, 239, .3)
      }
    }
  }

  // .el-wrapper-animate {
  //   display: none;
  // }

  // 中心点
  .center-dot {
    position: absolute;
    left: 50%;
    top: 0;
    width: 1px;
    height: 1px;
  }

  // &.visualization-wrap-kind-wap {
  //   .center-dot {
  //     left: 0;
  //   }
  // }


  .vis-wrap-header {
    height: 60px;
    background-color: white;
    // display: flex;
    // justify-content: space-between;

    .vis-wrap-header-left {
      line-height: 60px;
    }
    .vis-wrap-header-inner {
      height: 100%;
      width: '100%'
    }
    .header-part {
      display: flex;
      align-items: center;
      height: 100%;
      &.header-part-center {
        display: flex;
        justify-content: center;
      }
      &.header-part-right {
        display: flex;
        justify-content: flex-end;
      }
      .switch-page-btn {
        color: blue;
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }

  .vis-wrap-leftMenu {
    position: fixed;
    top: 60px;
    left: 10px;
    z-index: 10;

    ul {
      margin: 0;
      padding: 0;

      li.left-bar-item {
        font-size: 16px;
        background: -webkit-linear-gradient(top, rgba(255, 255, 255, .96) 0, rgba(238, 238, 238, .96) 100%);
        background: linear-gradient(to bottom, rgba(255, 255, 255, .96) 0, rgba(238, 238, 238, .96) 100%);
        box-shadow: 0 2px 5px 0 rgba(22, 45, 61, .58);
        border-radius: 24px;
        line-height: 2;
        height: 48px;
        position: relative;
        cursor: pointer;
        margin-bottom: 12px;
        width: 48px;
        padding-right: 0;
        text-align: center;
      }
    }

    .vis-wrap-leftMenu-operation {
      li {}
    }

    .vis-wrap-leftMenu-module {
      position: absolute;
      top: 0;
      left: 60px;

      ul {
        background: #001529;
        display: inline-block;
        height: 100%;
        overflow-y: auto;
        padding: 18px 0;
        vertical-align: top;
        border-radius: 6px;

        li {
          width: 120px;
          color: #e8e8e8;
          cursor: pointer;
          font-size: 14px;
          margin-bottom: 8px;
          height: 24px;
          position: relative;
          padding-left: 10px;
        }
      }

    }
  }

  .vis-wrap-siteContent {
    min-height: 600px;
    background-color: #f8f8f8;
    // padding-top: 30px;
    &.vis-page-kind-wap {
      width: 379px;
      height: 640px;
      margin: auto;
      overflow: scroll;
      &::-webkit-scrollbar {
        width: 0!important;
      }
    }
    .vis-section-item-wrap {
      position: relative;
      border: 2px dotted #e8e8e8;

      .vis-element-drag-item {
        .element-btns-wrap {
          display: none;
        }

        &:hover {
          .element-btns-wrap {
            display: block;
          }
        }
      }

      .section-btns-wrap {
        display: none;
      }

      &:hover {
        border: 2px dotted #007ed3;

        .section-btns-wrap {
          display: block;
        }
      }

      &.drop-over-downward {
        border-bottom: 2px dashed #1890ff;
      }

      &.drop-over-upward {
        border-top: 2px dashed #1890ff;
      }

      .vis-section-item-mask {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 5;

        &:hover {
          border: 1px dotted #007ed3;
        }
      }

      .vis-section-item-btns {
        position: absolute;
        top: -28px;
        background-color: #1890ff;
        color: white;
        right: 0;
        font-size: 18px;
        cursor: pointer;
        z-index: 6;
        
        span {
          padding: 4px 4px;
          font-weight: bold;
        }

        &.vis-element-item-btns, &.vis-section-item-btns-kind-wap {
          min-width: 44px;
          font-size: 14px;
          top: -22px;
          z-index: auto;
          span {
            padding: 0 2px;
            font-weight: normal;
          }
        }
      }

      .section-btns-bottom-pos {
        .vis-section-item-btns {
          top: 0;
        }
      }

      .vis-add-section-btns {
        div {
          position: absolute;
          z-index: 9;
          left: 50%;
          width: 30px;
          height: 30px;
          line-height: 28px;
          border-radius: 50%;
          background-color: #1890ff;
          text-align: center;
          color: white;
          font-size: 24px;
          cursor: pointer;
          transform: translate(-50%);

          &.vis-add-section-btns-up {
            top: -15px;
          }

          &.vis-add-section-btns-down {
            bottom: -15px;
          }
        }
      }
    }
  }

  .vis-wrap-rightMenu {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;

    .vis-rightMenu-inner {
      width: 200px;
      height: 600px;
      border: 1px solid #e8e8e8;
      background-color: white;
    }
  }
}

.vis-add-section-modal {
  .ant-modal-header {
    display: none;
  }

  .ant-modal-body {
    padding: 0;

  }

  .vis-add-modal-section-list {

    .vis-add-modal-section-list-inner {
      display: flex;

      .section-list {
        position: relative;
        min-height: 500px;
        flex: 0 0 200px;
        background-color: white;
        padding-top: 20px;
        box-shadow: 2px 0px 2px 0px #e8e8e8;
        overflow: hidden;

        li {
          padding: 8px 30px;
          cursor: pointer;
          color: #333;
          position: relative;

          &:hover {
            color: #1890ff;
          }

          &.active {
            color: #1890ff;
            background-color: #e6f7ff;

            &:after {
              content: "";
              position: absolute;
              top: 0;
              right: 0;
              bottom: 0;
              border-right: 3px solid #1890ff;
            }
          }
        }
      }

      .section-preview {
        flex: 1;
        width: 600px;
        background-color: white;

        .section-preview-header {
          padding: 12px 16px;
          font-size: 18px;
          color: black;
          border-bottom: 1px solid #e8e8e8;
        }

        .section-preview-example {
          padding: 12px;

          li {
            cursor: pointer;
            padding: 4px;
            border: 1px solid #e8e8e8;

            img {
              width: 100%;
            }

            &:hover {
              border: 1px solid #40a9ff;
            }
          }

        }
      }
    }
  }
}


.popup-wrap-item {
  width: 400px;
  height: 300px;
  margin: 30px auto 30px auto;
  background-color: white;
}

// 部件弹窗
.widgets-modal {
  .widgets-modal-inner {
    &.imgnews-style-modal {
      .form-title {
        font-size: 14px;
        font-weight: bold;
      }
    }
  }
}


// 自由区域
.free-content-wrap {
  position: absolute;
  top: 40px;
  left: 50%;
  width: 1px;
  height: 0;

  .drag-element-item {
    position: absolute;
  }
}

.vis-wrap-leftMenu-module-item {
  cursor: pointer;
}

tr.common-drop-row.drop-over-downward td {
  border-bottom: 2px dashed #1890ff;
}

tr.common-drop-row.drop-over-upward td {
  border-top: 2px dashed #1890ff;
}

// 轮播图指示器
.imgNews-wrap-inner-carousel {
  .slick-dots {
    li {
      &.slick-active {
        .circle-dot {
          opacity: 1;
        }
      }

      .circle-dot {
        opacity: 0.5;
      }
    }
  }
}