.imgNews-wrap {
  height: 100px;
  background-color: white;
  text-align: center;
  li {
    list-style: none;
  }
  .imgNews-wrap-inner {
    display: flex;
    .imgNews-wrap-inner-carousel {
      width: 300px;
      .slick-slider {
        img {
          height: 100px;
        }
      }
    }
    .imgNews-wrap-inner-news {
      flex: 1;
    }
  }
}