.navSection-wrap {
  position: relative;
  z-index: 5;
  box-shadow: 0 2px 8px #f0f1f2;
  .navSection-wrap-item {
    width: 1200px;
    margin: auto;
    display: flex;
    // justify-content: space-between;
    &.navSection-full-screen {
      width: 100%;
      padding: 0 38px;
    }
    .navSection-navbar-left {
      display: flex;
      align-items: center;
      img {
        max-width: 172px;
        max-height: 60px;
      }
    }
    .navSection-navbar-right {
      flex: 1;
      ul {
        display: inline-block;
        li {
          line-height: 58px;
          margin-left: 56px;
          float: left;
          span {
            cursor: pointer;
            position: relative;
            &.active {
              &:before {
                width: 80%;
                height: 2px;
                position: absolute;
                left: 10%;
                bottom: -10px;
                content: "";
                background: #2469f2;
                transition: .2s;
              }
            }
          }
        }
      }
    }
  }
}