.swiper-comp-wrap {
  margin: 0 auto;
  .swiper-container {
    position: relative;
    
    &.swiper-container-card {
      // overflow: hidden;
      .swiper-slide {
        background: #ffffff;
        // width: 200px;
        // height: 100px;
        background: #A3A3A3;
        img{
          // width: 200px;
          // height: 100px;
          object-fit: fill;
        }
      }
    }
    &.swiper-container-common {
      .swiper-slide {
        img{
          
        }
      }
      .swiper-pagination {
        position: absolute;
        text-align: center;
        transition: .3s opacity;
        transform: translate3d(0,0,0);
        bottom: 10px;
        left: 0;
        width: 100%;
      }
    }
    .swiper-pagination .line-dots {
      width: 20px;
      height: 4px;
      border-radius: 0;
    }
  }
}