.visualization-wrap {
  position: relative;
  .vis-wrap-leftMenu {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    ul {
        margin: 0;
        padding: 0;
        li {
          list-style: none;
          cursor: pointer;
        }
    }
    .vis-wrap-leftMenu-operation {
      li {
        
      }
    }
    .vis-wrap-leftMenu-module {
      position: absolute;
      top: 0;
      left: 20px;
      width: 60px;
      
    }
  }
  .vis-wrap-siteContent {
    min-height: 600px;
    background-color: #e8e8e8;
    .vis-section-item-wrap {
      position: relative;
      &.drop-over-downward {
        border-bottom: 2px dashed #1890ff;
      }
      &.drop-over-upward {
        border-top: 2px dashed #1890ff;
      }
      .vis-section-item-mask {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 5;
        &:hover {
          border: 1px dotted #007ed3;
        }
      }
    }
  }
  .vis-wrap-rightMenu {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    .vis-rightMenu-inner {
      width: 200px;
      height: 600px;
      border: 1px solid #e8e8e8;
      background-color: white;
    }
  }
}