.top-header {
  text-align: right;
  background-color: #222c3d!important;
  .ant-dropdown-link {
    color:#fff;
    cursor: pointer;
  }
}

.main-content {
  padding: 20px;
}

.breadCrumb {
  padding-bottom:10px;
}

.shadow-radius {
  box-shadow: 0 1px 6px rgba(0,0,0,.1), 0 1px 4px rgba(0,0,0,.1);
  border-radius: 2px;
  padding: 15px;
  background-color: #fff!important;
  min-height: 85vh;
}

.width200{
  width:200px!important;
}
.search-form{
  margin-bottom:20px;
}

.word-break {
  word-break: break-all
}

.ant-btn {
  &.first-btn {
    background: #8E44AD;
    border-color: #8E44AD;
    color: white;
    &:hover {
      color: white;
    }
  }
}
